.container {
  text-align: center;
  font-family: Arial;
  padding: 40px;
  color: white;
  background: #111;
  height: 100vh;
}

button {
  padding: 12px 22px;
  font-size: 16px;
  margin: 10px;
  border-radius: 8px;
  cursor: pointer;
  border: none;
}

.tip {
  background: #28a745;
  color: white;
}

.withdraw {
  background: #c0392b;
  color: white;
}
